<?xml version="1.0" ?>
<robot name="_name_">
	<attributes boundingBox="+x +y +z, -x -y -z"/>
	<link name="unitycomp_#">
		 <mass value="#">
		 <wheel type="" offset="0"/>
	</link>
	<joint name="unityjoint_#" type="continuous"/"revolute">
		<parent link="unitycomp_#"/>
		<child link="unitycomp_#"/>
		<axis xyz="x y z"/>
		<origin xyz="z y z"/>
         <limits lower="_radians_" upper="_radians_"/>
	</joint>
</robot>